.nav{
    height: 60px;
    background: teal;
    color: #f4f4f4;
}

.nav .search{
    width: 50%;
    position: relative;
}

.symbolsearch{position: relative;}
.searchcontainer{
    z-index: 99;
    position: absolute;
    width: 100%;
    margin:0 !important;
}
.nav-link a{text-decoration: none !important; color: #eee;}
.nav-link a:hover{color: #f4f4f4;}
.suggestion{
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
    background: #f4f4f4;
}
.current-status{font-size: 30px;}